astroid==2.15.5
cfgv==3.3.1
dill==0.3.6
distlib==0.3.6
exceptiongroup==1.1.1
filelock==3.12.2
greenlet==2.0.2
identify==2.5.24
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mysql-connector-python==8.0.33
nodeenv==1.8.0
packaging==23.1
platformdirs==3.5.3
pluggy==1.0.0
pre-commit==3.3.3
protobuf==3.20.3
pylint==2.17.4
PyMySQL==1.0.3
pytest==7.3.2
PyYAML==6.0
SQLAlchemy==2.0.16
tomli==2.0.1
tomlkit==0.11.8
typing-extensions==4.6.3
virtualenv==20.23.0
wrapt==1.15.0
